<ion-view title="Buscar por Especialidad">
  <ion-content class="padding osdepym-background" scroll="false"  ng-controller="CercaniaSearchController as cCtrl">
    <div class="center-panel">
      <div class="button-block btn btn-green btn-header" href="#" ><p>POR CERCANÍA</p></div>
      <div class="white-panel">

        <div>

          <select ng-model="cCtrl.especialidadSeleccionada" style="margin-bottom: 50%">
            <option ng-repeat="value in cCtrl.especialidades" value="{{value.getNombre()}}">{{value.getNombre()}}     </option>
          </select>
        </div>


        <a class="button-block btn btn-green btn-header" ng-click="cCtrl.searchByEspecialidad();" href="#" ><p>BUSCAR</p></a>
      </div>
    </div>
  </ion-content>
</ion-view>
