<ion-view title="Buscar por Nombre">
  <ion-content class="padding osdepym-background" scroll="false" ng-controller="NombreSearchController as nCtrl">
	<div class="center-panel">
		<div class="button-block btn btn-green btn-header" href="#" ><p>POR NOMBRE</p></div>
	<div class="white-panel text-center">
		<input style="margin-bottom:30%" type="name" ng-model="nCtrl.nombre"></input>
		<a class="button-block btn btn-green btn-header" ng-click="nCtrl.searchByNombre();" href="#" ><p>BUSCAR</p></a>
	</div>
	</div>
  </ion-content>
</ion-view>
