<ion-view title="Cartilla">
  <ion-content  scroll="false" class="padding osdepym-background"  scroll="false"  ng-controller="NavigationController as nCtrl">
  <div class="center-panel">
	<div class="button-block btn btn-green" style="display: inline-flex; padding-top: 0px; padding-bottom: 0px; width:100%"  ><p>BÚSQUEDA</p></div>

		<button class="button button-block btn btn-green btn-left" ng-click="nCtrl.goTo('busquedaEspecialidad')" >
			<div class="row" style="display: inline-flex; padding:0%">
				<div class="col-75" style="margin: auto">
					<span >POR ESPECIALIDAD</span>
				</div>
				<div class="col text-right" style="margin: auto; display:inline-flex">
					<img src="img/list_arrow.png">
				</div>
			</div>

		</button>
    <button class="button button-block btn btn-green btn-left" ng-click="nCtrl.goTo('busquedaNombre')" >
      <div class="row" style="display: inline-flex; padding:0%">
        <div class="col-75" style="margin: auto">
          <span >POR NOMBRE</span>
        </div>
        <div class="col text-right" style="margin: auto; display:inline-flex">
          <img src="img/list_arrow.png">
        </div>
      </div>

    </button>
		<button class="button button-block btn btn-green btn-left" ng-click="nCtrl.goTo('busquedaCercania')" >
			<div class="row" style="display: inline-flex; padding:0%">
				<div class="col-75" style="margin: auto">
					<span >POR CERCANÍA</span>
				</div>
				<div class="col text-right" style="margin: auto; display:inline-flex">
					<img src="img/list_arrow.png">
				</div>
			</div>
		</button>
	</div>
  </ion-content>
</ion-view>
