<ion-view title="Detalle">

  <img src="img/blue_line.png" class="blue-line has-header"/>
  <ion-content  scroll="false" class="has-header" ng-controller="DetallePrestadorController as dCtrl">
    <div >
      <div class="button-block btn btn-green btn-header" href="#" ><p><p>{{dCtrl.titulo}}</p></p></div>
      <div class="white-panel item-content">


        <div class="row">
          <div class="col col-99">
            <div>
                <span class="header">{{dCtrl.contextoActual.getPrestadorActual().getNombre().toUpperCase()}}</span>
            </div>
            <div class="row" style="padding: 0px; margin: auto">
                <div id="especialidades" class="col col-90">
                  <span class="expandable" ng-class="{collapsed: dCtrl.isCollapsed==true}">{{dCtrl.contextoActual.getPrestadorActual().getEspecialidad().toUpperCase()}}</span>
                </div>
              <div class="col col-10" style="margin: 2% auto;" ng-click="dCtrl.toggleCollapse()">
                <i class="{{dCtrl.collapseIcon}}"></i>
              </div>
              </div>

            <div>
                <span class="">{{dCtrl.contextoActual.getPrestadorActual().getDireccion()}}</span>
            </div>
          </div>
        </div>

        <div class="row" >
          <div class="col col-70">
            <span >Tel: {{dCtrl.contextoActual.getPrestadorActual().getTelefonos()[0]}}</span>

          </div>
          <div class="col col-30" style="text-align: right">
            <span >C.P.: {{dCtrl.contextoActual.getPrestadorActual().getCodigoPostal()}}</span>
          </div>
        </div>
        <div class="row" >
        <div class="col col-center">
          <a class="button btn btn-green btn-small btn-header" target="_blank" ng-href="tel:{{dCtrl.getTelefonoContacto()}}"><span>Llamar</span></a>
        </div>
        <div class="col col-center">
            <a class="button btn btn-green btn-small btn-header" target="_blank" href="http://maps.google.com/maps?saddr=-34.60775845,-58.37449336&daddr=-34.763066,-58.403225"><span>Como Llegar</span></a>
        </div>

        </div>
      </div>

    </div>
    <map on-create="dCtrl.mapCreated(map)" class="small-map" data-tap-disabled="true"></map>
  </ion-content>
</ion-view>
