<ion-view title="Detalle">
  <ion-content scroll="false" ng-controller="DetallePrestadorController as dCtrl">
    <div  class="has-header">
      <div class="button-block btn btn-green btn-header" href="#">
        <p>{{dCtrl.titulo}}</p>
      </div>
      <div class="white-panel">
        <span class="header">{{dCtrl.contextoActual.getPrestadorActual().getNombre().toUpperCase()}}</span>
        <div class="row" style="padding: 0px; margin: auto">
          <div id="especialidades" class="col col-90">
            <span class="expandable" ng-class="{collapsed: dCtrl.isCollapsed==true}">{{dCtrl.contextoActual.getPrestadorActual().getEspecialidad().toUpperCase()}}</span>
          </div>
          <div class="col col-10" style="margin: auto; font-size: 0.5em" ng-click="dCtrl.toggleCollapse()">
            <i class="{{dCtrl.collapseIcon}}"></i>
          </div>
        </div>
        <span >{{dCtrl.contextoActual.getPrestadorActual().getDireccion()}}</span>
        <div class="row">
          <div class="col col-70">
            <span>Tel: {{dCtrl.getTelefonoContacto()}}</span>
          </div>
          <div class="col col-30" style="text-align: right">
            <span>C.P.: {{dCtrl.contextoActual.getPrestadorActual().getCodigoPostal()}}</span>
          </div>
        </div>
        <div class="button-bar">
          <a ng-show="dCtrl.tieneTelefono()" class="button btn btn-green btn-header" style="margin: 0.3em "
             target="_blank"
             ng-href="tel:{{dCtrl.getTelefonoContacto()}}"><span>Llamar</span></a>
          <a ng-show="dCtrl.tieneHorarios()" class="button btn btn-green btn-header " style="margin: 0.3em "
             target="_blank"
             ng-href="tel: {{dCtrl.getTelefonoContacto()}}"><span>Horarios</span></a>
          <a ng-show="dCtrl.tieneCoordenadas()" class="button btn btn-green btn-header" style="margin: 0.3em "
             ng-href="http://maps.google.com/maps?saddr={{dCtrl.getCoordenadasDesde()}}&daddr={{dCtrl.getCoordenadasHasta()}}">
            <span>Como Llegar</span></a>

        </div>

      </div>

    </div>
    <map on-create="dCtrl.mapCreated(map)" class="small-map" data-tap-disabled="true"></map>

  </ion-content>
</ion-view>
