

<ion-side-menus ng-controller="NavigationController as nCtrl">
  <ion-side-menu-content>
    <ion-view title="Menu">
      <ion-content class="padding osdepym-background" scroll="false" >
        <a class="button button-block btn btn-red" href="tel:08002888000"target="_blank"><div ><p>URGENCIAS Y EMERGENCIAS MÉDICAS</p><p>0800-288-8000</p></div></a>
        <img src="img/blue_line.png" class="blue-line"/>
        <a class="button button-block btn btn-green" href="tel:08002887963" target="_blank"><p>ATENCIÓN AL BENEFICIARIO</p><p>0800-288-7963</p></a>
        <a class="button button-block btn btn-green" href="tel:08002888432" target="_blank"><p>ASESOR COMERCIAL</p><p>0800-288-8432</p></a>
        <button class="button button-block btn btn-green" ng-click="nCtrl.goTo('cartilla')"><p>CARTILLA MÉDICA</p></button>
        </br>
      </ion-content>
    </ion-view>
  </ion-side-menu-content>

  <!-- Right menu -->
  <ion-side-menu side="right">
    <ion-content>
      <div class="list">

        <div class="item" ng-click="nCtrl.goTo('login')">Configuración</div>
        <div class="item" ng-click="nCtrl.actualizar()">Actualizar</div>
      </div>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>
