<ion-view title="Menu">
  <ion-content class="padding osdepym-background" ng-controller="TestController as test">
	<a class="button button-block btn btn-red" href="tel:08002888000" target="_blank"><div>URGENCIAS Y EMERGENCIAS MÉDICAS</div><div>0800-288-8000</div></a>
    <img src="../img/blue_line.png" class="blue-line"/>
	<a class="button button-block btn btn-green" href="tel:08002887963" target="_blank"><p>ATENCIÓN AL BENEFICIARIO</p><p>0800-288-7963</p></a>
    <a class="button button-block btn btn-green" href="tel:08002888432" target="_blank"><p>ASESOR COMERCIAL</p><p>0800-288-8432</p></a>
    <a class="button button-block btn btn-green" href="#cartilla"><p>CARTILLA MÉDICA</p></a>
    </br>
    
  </ion-content>
</ion-view>
