<ion-view title="Menu">
  <ion-content class="padding" ng-controller="TestController as test">
    <h1>Acá estará el menú...</h1>
    <a href="tel:1158379104" target="_blank">Llamar a Dario</a>
    </br>
    </br>
    <a href="tel:1133630436" target="_blank">Llamar a Facu</a>
    </br>
    </br>
    <a href="tel:1131236473" target="_blank">Llamar a Mauro</a>
    </br>
    </br>
    <h1>Nombre: {{test.nombre}}</h1>
    <ion-list>
      <ion-item ng-repeat="especialidad in test.especialidades">
        {{especialidad.getNombre()}}
      </ion-item>
    </ion-list>
    <button class="button button-full button-energized" ng-click="test.getRest()">
      Get
    </button>
  </ion-content>
</ion-view>
