<ion-view title="Prestadores Encontrados">
  <ion-content scroll="false" ng-controller="ResultadoBusquedaController as rCtrl" >
    <div class="button-block btn btn-green btn-header overlap" >
      <p>{{rCtrl.titulo}}</p></div>
    <ion-content style="    margin-top: 4em;">

      <ion-list class="resultado-busqueda">
        <ion-item ng-repeat="item in rCtrl.contextoActual.getPrestadores()" item="item" class="item-content" ng-click="rCtrl.seleccionarPrestador(item)">

          <div class="row" >
            <div class="col col-90">
              <span class="header">{{item.getNombre().toUpperCase()}}</span>  </br>
              <span>{{item.getDireccion()}}</span>
            </div>
            <div class="col col-10 col-center" style="text-align:right">
              <img class="pull-right" src="img/list_arrow.png">
            </div>

          </div>
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-content>
</ion-view>
